.homePage{
  .allBtn{
    text-align: center;
    margin-top: 1em;

    .row{
      margin: 0;
    }
    Button {
      padding: 1em 1em;
      border-radius: 100px;
      background-color: #3F817E;
      color: #FFF;
      text-decoration: none;
    }
  }
}
