.indexSite{
  font-family: 'Merriweather';
  h1 {
    white-space: nowrap;
    text-align: center;
    font-size: 1em;
  }
  img {
    height: 13em;
  }

  .btnGo{
    text-align: -webkit-center;

    a{
      padding: 1em 3em;
      border-radius: 100px;
      background-color: #3F817E;
      color: #FFF;
      text-decoration: none;

      .arrow{
        display: contents;
      }
    }
  }

  form{
    text-align: center;
    text-align: -webkit-center;

    Select{
      margin: 2em;
      width: 70%;
      background-color: #51A29E;
      text-align: center;
      color: #FFF;
    }
    Input{
      margin: 2em;
      width: 70%;
      text-align: center;
      background-color: #51A29E;
    }
    ::placeholder{
      color: #fff;
    }
    :focus{
      background-color: #51A29E;
    }
    a{
      color: #282c34;
      display: block;
      margin: 1em;
    }
    Button{
      margin-top: 2em;
    }
  }

}
