.indexSite{
  font-family: 'Merriweather';
  h1 {
    white-space: nowrap;
    text-align: center;
    font-size: 1em;
  }
  img {
    height: 13em;
  }

  .btnGo{
    text-align: -webkit-center;

    a{
      padding: 1em 3em;
      border-radius: 100px;
      background-color: #3F817E;
      color: #FFF;
      text-decoration: none;

      .arrow{
        display: contents;
      }
    }
  }

  form{
    text-align: center;
    text-align: -webkit-center;

    Select{
      margin: 2em;
      width: 70%;
      background-color: #51A29E;
      text-align: center;
      color: #FFF;
    }
    Input{
      margin: 2em;
      width: 70%;
      text-align: center;
      background-color: #51A29E;
    }
    .errorInput {
      border: 1px solid red !important;
      padding: 10px !important;
      font-size: 16px !important;
      background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12 12%27 width=%2712%27 height=%2712%27 fill=%27none%27 stroke=%27%23dc3545%27%3e%3ccircle cx=%276%27 cy=%276%27 r=%274.5%27/%3e%3cpath stroke-linejoin=%27round%27 d=%27M5.8 3.6h.4L6 6.5z%27/%3e%3ccircle cx=%276%27 cy=%278.2%27 r=%27.6%27 fill=%27%23dc3545%27 stroke=%27none%27/%3e%3c/svg%3e") !important;
    }
    ::placeholder{
      color: #fff;
    }
    :focus{
      background-color: #51A29E;
    }
    a{
      color: #282c34;
      display: block;
      margin: 1em;
    }
    Button{
      margin-top: 2em;
    }
  }

}
